babel
python-dateutil
flask-moment
flask-wtf
flask_sqlalchemy
FlasK
Jinja2
MarkupSafe
itsdangerous
Werkzeug
psycopg2
alembic
click
colorama
distlib
filelock
greenlet
importlib-metadata
importlib-resources
Mako
platformdirs
postgres
psycopg2-pool
pytz
six
SQLAlchemy
WTForms
zipp
